# Ignore system files
.DS_Store
Thumbs.db

# Ignore node modules
node_modules/

# Ignore log files
*.log

# Ignore the build directory
*/dist


# Ignore IDE specific files
.idea/
*.swp
*.swo
*.swn
.vscode/
*.sublime-project
*.sublime-workspace

# Environment variables
*.env

data/raw/nlp_summaries

__pycache__/

.venv/